#DTM issue: if initial status read gives 0x01 - may be bus congestion in peripheral cluster.  uart_o may hog unnecessarily

#http://openocd.org/doc/html/Architecture-and-Core-Commands.html
#https://gnu-mcu-eclipse.github.io/debug/openocd/riscv/

#GDB connection:  (need to set long timeout for sim)
#riscv64-unknown-elf-gdb <elf file>
#(gdb) set remotetimeout 10000
#(gdb) set arch riscv:rv64
#(gdb) target remote localhost:3333

#issue: scans all regs only 32b wide! (gets upper bits, usually 0!)
#issue: scans all possible 2**12 CSR's - slow and pointless!


#debug verbosity 0-4 (2 normal error+warn; 3 debug; 4 extremely verbose)
debug_level 4

#set _FLASHNAME THQSPI_BNK

adapter speed     10000

adapter driver remote_bitbang
remote_bitbang host localhost
remote_bitbang port 43850
#remote_bitbang_port $::env(JTAG_VPI_PORT)

set _CHIPNAME riscv
jtag newtap $_CHIPNAME cpu -irlen 5
set _TARGETNAME $_CHIPNAME.cpu


target create $_TARGETNAME riscv -chain-position $_TARGETNAME -rtos hwthread -coreid 2 -dbgbase 0x10000
#ThreadX, FreeRTOS, eCos, linux, ChibiOS, Chromium-EC, embKernel, mqx, uCOS-III, nuttx, hwthread,  or auto

#flash bank $_FLASHNAME jtagspi 0x00080000000 0 0 0 $_TARGETNAME

#536870912

riscv set_reset_timeout_sec 3600
riscv set_command_timeout_sec 3600
riscv set_mem_access sysbus

gdb_port 3333

#riscv set_mem_access off 

# use system bus access vs program buffer for mem access

init
halt
echo "Ready for Remote Connections"

